<!DOCTYPE html>
<html>
  <head>
    <title>Appnouncements</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Spectre -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.1/spectre.min.css" integrity="sha256-3bOqkUKlAH+YSBX+g4Op1ryi42nxlJb2gCWyMLSVNYQ=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.1/spectre-exp.min.css" integrity="sha256-tm/qZM4a4QQDQPV2LZejEYeq8ewsiiilMrDIJiLG3zo=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.1/spectre-icons.min.css" integrity="sha256-HzYZh0DS3XmkQALc9+6+LEOra1w//WC35x3TGnxDhys=" crossorigin="anonymous" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
